<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electrolocus</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />

    <script src="{{ asset('//use.edgefonts.net/bebas-neue.js') }}"></script>

    <!-- Custom Fonts & Icons -->
    <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800') }}" rel="stylesheet" />
    <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/icomoon-social.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />

    <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>


</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<header class="navbar navbar-fixed-top" role="banner" style="background-color:#1c262f; ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: #fafbfc"></span>
                <span class="icon-bar" style="background-color: #fafbfc"></span>
                <span class="icon-bar" style="background-color: #fafbfc"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}" style="font-family:'Open Sans',
                          sans-serif; color:#fafbfc;font-size:32px;letter-spacing: 3px;">ELECTROLOCUS</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About Us</a></li>
                <li><a href="{{ path('service') }}">Services</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="#"><i class="fa fa-user"></i>&nbsp;Profile</a></li>
                <li class="active"><a href="{{ path('checkLogin') }}">Log In</a></li>
            </ul>
        </div>
    </div>
</header><!--/header-->




<section id="main-slider" class="no-margin">
    <div class="item active" style="background-image: url('img/slides/2.jpg');background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 login-box">
                    <div class="login-container-wrapper">
                        <div class="logo">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="welcome">
                            <strong>Welcome !</strong>
                            <p>Not a member ?
                            <a href="#" class="toggle-link" style="text-decoration: underline;">SignUp</a></p>
                        </div>

                        <form class="form-horizontal login-form" action="{{ path('checkLogin') }}" method="post">
                            <div class="form-group relative">
                                <input id="email" name="email" class="form-control input-lg" type="email" placeholder="Username" required>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group relative password">
                                <input id="password" name="password" class="form-control input-lg" type="password" placeholder="Password" required>
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="form-group">

                           {% if loginDetails is defined and loginDetails is not empty %}     {% if loginDetails=='wrongpassword' %}{{ 'Wrong Password' }} {% endif %} {% endif %}
                                {% if loginDetails  is defined and loginDetails is not empty %}       {% if loginDetails=='wrongemail' %}{{ 'Wrong email' }} {% endif %} {% endif %}
                                <input name="submit" type="submit" value="Login" class="btn btn-success btn-lg btn-block">
                            </div>
                            <div class="checkbox text-center">
                                <label> <a href="#" title="forget">Forgot your password?</a> </label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-4 signup-box" style="display: none;">
                    <div class="login-container-wrapper">
                        <div class="logo">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="welcome">
                            <strong>Welcome !</strong>
                            <p>Already a member ?
                            <a href="#" class="toggle-link" style="text-decoration: underline;">Login</a></p>
                        </div>
                        <form class="form-horizontal login-form" action="{{path('register')}}" method="post">
                            <div class="form-group relative">
                                <input id="email" name="email" class="form-control input-lg" type="email" placeholder="Username" required>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group relative password">
                                <input id="password" name="password"  class="form-control input-lg" type="password" placeholder="Password" required>
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="form-group">
                                <input name="submit" type="submit" value="Sign Up" class="btn btn-success btn-lg btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.item-->
</section><!--/#main-slider-->


<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="row">

            <div class="col-footer col-md-4 col-xs-6">
                <h3><span>E</span>lectrolocus</h3>
                <p>Copyright &copy; 2017 Electrolocus
                    | Design: <span>Akriti</span></p>
            </div>
            <div class="col-footer col-md-4 col-xs-6">
                <h3>Contact us</h3>
                <p>IIIT Vadodara
                    | PDPU Hostel</p>
                <p>7285832105
                    | elect@gmail.com</p>
            </div>
            <div class="col-footer col-md-4 col-xs-6">

                <h3>Get Social with us</h3>
                <div class="connect-us">
                    <a href="https://www.facebook.com/shahrukh.bari2" target="_parent"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{{ asset('js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('js/scrolling-nav.js') }}"></script>

<script>
    $(document).ready(function(){

        /* Login & Signup Toggle */

        var cardToggle = 0;



        $('.toggle-link').on('click', function(event){
            event.preventDefault();
            if(cardToggle == 0 ){
                $('.login-box').show();
                $('.signup-box').hide();

                cardToggle = 1;

            }else{
                $(this).text('Signup');
                $('.login-box').hide();
                $('.signup-box').show();

                cardToggle = 0;
            }
        })
    })
</script>

</body>
</html>